**
!NannyApp.Shared/
!NannyApp.Shared/config/
!NannyApp.Shared/config/*.php
!NannyApp.Shared/database/
!NannyApp.Shared/database/*.sql
!NannyApp.Shared/bin/
!NannyApp.Shared/bin/*.php
!NannyApp.Web/
!NannyApp.Web/**
!NannyApp.Mobile/
!NannyApp.Mobile/NannyApp/
!NannyApp.Mobile/NannyApp/api/
!NannyApp.Mobile/NannyApp/api/**
!NannyApp.Mobile/NannyApp/includes/
!NannyApp.Mobile/NannyApp/includes/**
!NannyApp.Mobile/NannyApp/config/
!NannyApp.Mobile/NannyApp/config/**
!NannyApp.Mobile/NannyApp/app/
!NannyApp.Mobile/NannyApp/app/src/
!NannyApp.Mobile/NannyApp/app/src/**
!tests/
!tests/**
**/storage/**
**/releases/**
**/email_logs/**
**/db_credentials.php
**/.env*
**/*.log
**/__pycache__/**
**/paystack.php
**/vendor/**
**/node_modules/**
**/local.properties
**/*.pem
**/*.key
**/*.jks
