config/db_credentials.php
config/paystack.php
/assets/*
!/assets/.gitkeep
!/assets/Icon_Logo.png
!/assets/nanny_app_logo.svg
/local.properties
/.gradle
/.gradle-user-home/
/NannyApp.Mobile/
/build
/app/build
*.iml
.idea/
.DS_Store
